/* Basic configuration */
/* Establecer el 62.5% de font-size en el elemento html */
html {
    font-size: 62.5%;
}
  
/* Establecer el 100% de ancho y alto para html y body */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita barras de desplazamiento predeterminadas */
}
  
/* Establecer box-sizing en border-box para todos los elementos */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
}

/* Configurar el contenedor principal */
.container {
    width: 100vw;
    height: 100vh;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }